@charset "UTF-8";

/*=== Font Family ===*/

@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

/*=== Colors Definition ===*/

:root{
    --cor01: #2F3350;
    --cor02: #1A1C2B;
    --cor03: #01CF6D;
    --cor04: #F2F2F2;
    --shadow: rgba(0, 0, 0, 0.350);
}

/*=== Global Settings ===*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Kalam', cursive, Arial, sans-serif;
}

/*=== Settings Extras ===*/

body, html{
    width: 100%;
    height: 100vh;
}

/*=== style body ===*/

body{
    background-color: var(--cor02);
}

/*=== style header ===*/

header{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor03);
    box-shadow: 3px 3px 10px var(--shadow);
}

header a{
    text-decoration: none;
    margin: 0px 10px;
    font-size: 20px;
    color: var(--cor01);
}

header a:hover{
    transition: 0.4s;
    color: var(--cor02);
}

/*=== style main ===*/

main{
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*=== Style Index.html ===*/

div.info{
    color: var(--cor03);
    text-align: center;
}

/*=== Style Cadastro.html ===*/

div.cadastro{
    width: 800px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--shadow);
    position: relative;
    background-color: var(--cor03);
}

div.cadastro h1, div.login h1{
    margin: 10px 0px 30px;
    text-align: center;
    color: var(--cor02);
}

div.cad-box, div.login-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.column{
    width: 100%;
    margin: 0px 30px;
}

div.user-info{
    position: relative;
}

div.user-info input{
    width: 100%;
    padding: 7px 0px;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--cor02);
    outline: none;
    background-color: transparent;
}

div.user-info label{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px 0px;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    color: var(--cor02);
}

div.user-info input:focus~label,
div.user-info input:valid~label{
    top: -20px;
    left: 0px;
    font-size: 12px;
}

div.btn-box{
    width: 100%;
    margin: 35px 0px;
    text-align: center;
}

div.btn-box button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
    background-color: var(--cor01);
    color: var(--cor04);
}

div.btn-box button:hover{
    background-color: var(--cor02);
    transition: 0.4ms;
}

/*style Login.html*/

div.login{
    width: 390px;
    height: 390px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--shadow);
    position: relative;
    background-color: var(--cor03);
}

div.btn-login{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}